astroid == 3.2.4
black == 24.8.0
click == 8.1.7
colorama == 0.4.6
dill == 0.3.8
iniconfig == 2.0.0
isort == 5.13.2
mccabe == 0.7.0
mypy-extensions == 1.0.0
packaging == 24.1
pathspec == 0.12.1
platformdirs == 4.2.2
pluggy == 1.5.0
pylint == 3.2.6
pytest == 8.3.2
tomlkit == 0.13.2
