<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>中電商店</title>
        <meta name="description" content="使用你的電電點來兌換獎品吧!" />
        <meta name="author" content="中部高中電資社團聯合會議" />

        <meta name="keywords" content="電電點, 中電會, SCAICT" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="中電商店" />
        <meta property="og:url" content="https://scaict.org" />
        <meta property="og:site_name" content="中電商店" />
        <meta property="og:description" content="使用你的電電點來兌換獎品吧!" />
        <meta property="og:locale" content="zh-TW" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="https://scaict.org/src/img/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="https://scaict.org/src/img/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="https://scaict.org/src/img/favicon-16x16.png"
        />
        <link
            rel="manifest"
            href="https://scaict.org/src/img/site.webmanifest"
        />
        <link
            rel="mask-icon"
            href="https://scaict.org/src/img/safari-pinned-tab.svg"
            color="#ca4480"
        />
        <meta name="msapplication-TileColor" content="#2b5797" />
        <meta name="theme-color" content="#e9aa11" />
        <link rel="stylesheet" href="/static/style.css" />
        <script
            src="https://kit.fontawesome.com/f9ca08d03f.js"
            crossorigin="anonymous"
        ></script>
        <style>
            body {
                overflow: hidden;
            }
            main {
                height: 100svh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            section {
                flex: 1;
                overflow: hidden;
            }
            section img,
            section svg {
                height:  100%;
                display: block;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/"><i class="fa-solid fa-store"></i> 商店</a>
            <a href="https://discord.com/invite/neQ7QEUcqe"
                ><i class="fa-brands fa-discord"></i> Discord</a
            >
            {% if ticket %}
            <div class="ticket">{{ ticket }} 🎟️</div>
            {% endif %} {% if point %}
            <div class="point">{{ point }} ⚡</div>
            {% endif %} {% if avatar %}
            <img src="{{ avatar }}" alt="Avatar" class="avatar" />
            <a href="/logout" class="log"
                ><i class="fa-solid fa-arrow-right-from-bracket"></i
            ></a>
            {% else %}
            <a href="/login"
                ><i class="fa-solid fa-arrow-right-to-bracket"></i
            ></a>
            {% endif %}
        </nav>
        <main>
            <div>
                <img
                    src="https://scaict.org/src/img/logo.svg"
                    alt=""
                    class="logo"
                />
            </div>
            <div class="welcome">嗨 {{ username }}!</div>
            <h1>貓咪機</h1>
            <section>
                <?xml version="1.0" encoding="windows-1252"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512 512"
                    style="enable-background: new 0 0 512 512"
                    xml:space="preserve"
                >
                    <path
                        style="fill: #8b9ba9"
                        d="M423.404,397.65h-14.165v-15.453h14.165c21.302,0,38.632-17.33,38.632-38.632v-90.141h15.453v90.141  C477.489,373.388,453.227,397.65,423.404,397.65z"
                    />
                    <circle
                        style="fill: #c5324f"
                        cx="469.763"
                        cy="245.698"
                        r="15.453"
                    />
                    <path
                        style="fill: #ff5368"
                        d="M181.312,54.085H284.33V30.905C284.33,13.836,270.494,0,253.425,0h-41.207  c-17.069,0-30.905,13.836-30.905,30.905V54.085z"
                    />
                    <path
                        style="fill: #c5324f"
                        d="M182.285,23.179c-0.636,2.469-0.974,5.058-0.974,7.726v23.179l51.166,16.483l51.852-16.483V30.905  C284.33,13.836,270.494,0,253.425,0l0,0c0,12.801-10.378,23.179-23.179,23.179H182.285z"
                    />
                    <path
                        style="fill: #8b9ba9"
                        d="M160.708,84.99l72.113,37.087l72.113-37.087V74.688c0-11.379-9.224-20.604-20.604-20.604H181.312  c-11.379,0-20.604,9.224-20.604,20.604V84.99z"
                    />
                    <path
                        style="fill: #ffb545"
                        d="M47.388,512h370.865V115.895c0-17.069-13.836-30.905-30.905-30.905H78.294  c-17.069,0-30.905,13.836-30.905,30.905V512z"
                    />
                    <path
                        style="fill: #ff983b"
                        d="M47.388,481.095V512h370.865V115.895c0-17.069-13.836-30.905-30.905-30.905v396.105H47.388z"
                    />
                    <path
                        style="fill: #ff7e40"
                        d="M232.821,132.378H42.237c-8.534,0-15.453,6.919-15.453,15.453v195.734  c0,8.534,6.919,15.453,15.453,15.453h190.583h190.583c8.534,0,15.453-6.919,15.453-15.453V147.831  c0-8.534-6.919-15.453-15.453-15.453H232.821z"
                    />
                    <path
                        style="fill: #ff6344"
                        d="M423.404,132.378h-15.453v195.734H26.785v15.453c0,8.534,6.919,15.453,15.453,15.453h190.583h190.583  c8.534,0,15.453-6.919,15.453-15.453V147.831C438.857,139.297,431.938,132.378,423.404,132.378z"
                    />
                    <g>
                        <rect
                            x="80.869"
                            y="186.463"
                            style="fill: #fff9eb"
                            width="101.298"
                            height="118.471"
                        />
                        <rect
                            x="283.475"
                            y="186.463"
                            style="fill: #fff9eb"
                            width="101.298"
                            height="118.471"
                        />
                    </g>
                    <g>
                        <rect
                            x="182.167"
                            y="186.463"
                            style="fill: #e9e3d5"
                            width="101.298"
                            height="118.471"
                        />
                        <polygon
                            style="fill: #e9e3d5"
                            points="283.472,274.028 283.472,304.934 384.773,304.934 384.773,186.463 353.867,186.463    353.867,274.028  "
                        />
                    </g>
                    <rect
                        x="182.167"
                        y="274.028"
                        style="fill: #d3cdbf"
                        width="101.298"
                        height="30.905"
                    />
                    <rect
                        x="80.869"
                        y="274.028"
                        style="fill: #e9e3d5"
                        width="101.298"
                        height="30.905"
                    />
                    <g>
                        <path
                            style="fill: #c5324f"
                            d="M147.545,209.127h-32.05c-4.267,0-7.726,3.459-7.726,7.726v6.197c0,4.267,3.459,7.726,7.726,7.726   c3.744,0,6.865-2.662,7.575-6.197h9.057c-6.506,10.265-11.427,23.1-12.374,42.892c-2.72,1.196-4.621,3.911-4.621,7.072   c0,4.267,3.459,7.726,7.726,7.726h9.272c4.267,0,7.726-3.459,7.726-7.726c0-3.165-1.905-5.88-4.628-7.075   c1.445-25.577,10.688-36.636,18.24-45.655c1.926-2.301,2.347-5.509,1.077-8.229C153.275,210.865,150.546,209.127,147.545,209.127z"
                        />
                        <path
                            style="fill: #c5324f"
                            d="M248.846,209.127h-32.05c-4.267,0-7.726,3.459-7.726,7.726v6.197c0,4.267,3.459,7.726,7.726,7.726   c3.744,0,6.865-2.662,7.575-6.197h9.058c-6.506,10.265-11.427,23.1-12.374,42.892c-2.72,1.196-4.621,3.911-4.621,7.072   c0,4.267,3.459,7.726,7.726,7.726h9.272c4.267,0,7.726-3.459,7.726-7.726c0-3.165-1.905-5.88-4.628-7.075   c1.445-25.577,10.688-36.636,18.24-45.655c1.926-2.301,2.347-5.509,1.077-8.229C254.577,210.865,251.847,209.127,248.846,209.127z"
                        />
                        <path
                            style="fill: #c5324f"
                            d="M357.148,213.584c-1.27-2.72-3.999-4.458-7.001-4.458h-32.05c-4.267,0-7.726,3.459-7.726,7.726   v6.197c0,4.267,3.459,7.726,7.726,7.726c3.744,0,6.865-2.662,7.575-6.197h9.057c-6.506,10.265-11.427,23.1-12.374,42.892   c-2.72,1.196-4.621,3.911-4.621,7.072c0,4.267,3.459,7.726,7.726,7.726h9.272c4.267,0,7.726-3.459,7.726-7.726   c0-3.165-1.905-5.881-4.629-7.075c1.445-25.577,10.688-36.635,18.24-45.655C357.997,219.512,358.417,216.304,357.148,213.584z"
                        />
                    </g>
                    <path
                        style="fill: #8b9ba9"
                        d="M160.708,420.829L160.708,420.829c0,17.069,13.836,30.905,30.905,30.905h82.414  c17.069,0,30.905-13.836,30.905-30.905l0,0c0-17.069-13.836-30.905-30.905-30.905h-82.414  C174.545,389.924,160.708,403.76,160.708,420.829z"
                    />
                    <path
                        style="fill: #4d5967"
                        d="M273.341,428.555h-82.414c-4.267,0-7.726-3.459-7.726-7.726c0-4.267,3.459-7.726,7.726-7.726h82.414  c4.267,0,7.726,3.459,7.726,7.726C281.067,425.096,277.609,428.555,273.341,428.555z"
                    />
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                </svg>
            </section>
            <div class="footer">© 2024 SCAICT All Rights Reserved</div>
        </main>
        <footer>
            <a href="https://www.facebook.com/scaict.tw/" target="_blank"
                ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/scaict.tw/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="https://github.com/SCAICT" target="_blank"
                ><i class="fa-brands fa-github"></i
            ></a>
        </footer>
        <script>
            // load product from /productList to <section>
            let datas = [];
            let selected;
            const section = document.querySelector("section");
            fetch("/productList")
                .then(res => res.json())
                .then(data => {
                    datas = data;
                });

            // confirm buy
            const buy = () => {
                fetch("/slot", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ id: selected.id }),
                })
                    //alert recieved text
                    .then(res => res.text())
                    .then(text => {
                        // if response is html then show it in new page
                        if (text.toLowerCase().startsWith("<!doctype html>")) {
                            document.write(text);
                            return;
                        } else {
                            alert(text);
                            confirm.classList.remove("active");
                            window.location.reload();
                        }
                    })
                    .catch(err => alert(err));
            };
        </script>
    </body>
</html>
