name: Python unittest

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    if: (github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork == true)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_dev.txt
      - name: Analysing the code with Python unittest
        run: |
          python -m unittest $(git ls-files 'cog/tests/*.py')
          python -m unittest $(git ls-files 'tests/unittest/*.py')
